.notification {
  opacity: 0;
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  padding: space(3);
  transform: translateY(48px);
  z-index: z('40');
  transition:
    transform transition-duration(normal),
    opacity transition-duration(normal);

  @include respond(sm) {
    @include font-style($size: sm);
  }

  &--show {
    transform: translateY(0);
    opacity: 1;
  }

  &--success {
    background-color: color('success-background');
    color: color('success-foreground');
  }

  &--error {
    background-color: color('error-background');
    color: color('error-foreground');
  }
}
