/* ======< Variable Font – Vazirmatn Text >====== */

@font-face {
  font-family: 'Vazirmatn';
  src:
    url('/fonts/Vazirmatn.woff2') format('woff2'),
    url('/fonts/Vazirmatn.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
