.footer {
  padding: space(4);
  @include font-style($align: center);
  background-color: color('secondary-background');
  border-radius: radius('3xl') radius('3xl') 0 0;

  &__logo {
    color: color(teal);
  }

  &__title {
    @include flex($align: center, $justify: center, $gap: 2);
    color: color('secondary');
    @include respond(sm) {
      @include font-style($size: xs);
    }
  }
}
