.header {
  top: 0;
  z-index: z('30');
  position: sticky;
  padding-block: space(4);
  backdrop-filter: blur(4px);
  @include flex($justify: space-between);
  border-bottom: 2px solid color('glass-border');
  -webkit-backdrop-filter: blur(12px);
  background-color: adjust-color(color(background), $alpha: -0.3);

  @include respond(md) {
    padding-block: space(3);
  }

  @include respond(sm) {
    padding-block: space(2);
  }

  &__title-link {
    @include flex($align: center, $gap: 2);
    @include font-style($size: xl, $weight: bold);

    @include respond(md) {
      @include font-style($size: lg, $weight: bold);
    }

    @include respond(sm) {
      @include font-style($size: base, $weight: bold);
    }
  }

  &__logo {
    @include size($width: 9, $height: 9);

    @include respond(sm) {
      @include size($width: 7, $height: 7);
    }
  }

  &__cart-btn {
    position: relative;
  }

  &__cart-badge {
    top: -0.05rem;
    right: -0.05rem;
    position: absolute;
    color: color(secondary);
    border-radius: radius(full);
    @include size($width: 5, $height: 5);
    background-color: color('secondary-background');
    @include font-style($size: xs, $family: medium);
    @include flex($align: center, $justify: center);

    @include respond(md) {
      @include size($width: 4.5, $height: 4.5);
    }

    @include respond(sm) {
      @include size($width: 4, $height: 4);
    }

    &--hidden {
      display: none;
    }
  }
}
